.navbar{
    height: 72px !important;
}

.navbar-brand{
    /* font-family: 'Great Vibes', cursive; */
    font-size: 40px;
    padding: 1px;
}

/* Media query for screen width 375px and below */
@media (max-width: 415px) {
    .navbar-brand {
        display: none;
    }
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateX(-50%);
    z-index: 1000;
}


.searchBox{
    width: 30vw;
    padding: 5px;
}

.search-icon{
    display: none;
}


.nav-profile-pic{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -2px;
}

.profile-btn{
    display: block;
    padding: 10px;
    margin: 0;
    border-radius: 0;
        
}

@media only screen and (max-width: 450px){
    .searchBox{
        display: none;
    }

    .search-icon{
        display: block;
    }

    .nav-link{
        margin-left: -10px;
    }
    .navbar-brand{
        font-size: 35px;
    }

}