.login-container{
    margin-top: 6rem;
}

.input-bg{
    background-color: #f3f3f3;
    color: #dbd5d5;
    font-size: 0.9rem;
    height: 2.9rem;
}

.custom-btn{
    padding: 0.6rem;
    border-radius: 4px;
}
.custom-btn-blue{
    border: 1px solid #b3e0ff;
    background-color: #b3e0ff;
    color: #fff;
    padding: 14px;
}

.custom-btn-white{
    border: 1px solid #6c6c6c;
    background-color: #f3f3f3;
    color: #000;
    padding: 14px;
}

.socialDesktop{
    display: block;
}

.socialMobile{
    display: none;
}

@media only screen and (max-width: 450px){
    .socialDesktop{
        display: none;
    }
    
    .socialMobile{
        margin-left: 60px;
        display: block;
    }

    .login-container{
        margin-top: 2.5rem;
    }

    .card{
        border: none !important;
    }

    .card-body{
        padding-left: 1.4rem !important;
        padding-right: 1.4rem !important;
    }

    .shadow{
        box-shadow: none !important;
    }
}